<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% if title %}
        <title>Dim Sum Online Shop - {{ title }}</title>
    {% else %}
        <title>Dim Sum Online Shop</title>
    {% endif %}
</head>
<body class="d-flex flex-column min-vh-100" style="background-image: url({{ url_for('static', filename='bg.jpg') }});">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin">Home</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Product
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admineditproduct">Edit Product</a>
                <a class="dropdown-item" href="/adminnewproduct">New Product</a>
                <a class="dropdown-item" href="/admindeleteproduct">Delete Product</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                User
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/adminedituser">Edit User</a>
                <a class="dropdown-item" href="/admindeleteuser">Delete User</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Order
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admineditorder">All Order</a>
                <a class="dropdown-item" href="/adminsearchorder">Search Order</a>
              </div>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Coupon
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admineditcoupon">Edit Coupon</a>
                <a class="dropdown-item" href="/adminnewcoupon">New Coupon</a>
              </div>
            </li>
          </ul>
          <ul class="form-inline my-2 my-lg-0">
            {% if session['adminloggedin'] is sameas True %}
            <li class="nav-item active">
                <a class="nav-link text-white" href="">Admin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-white" href="/adminlogout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link text-white" href="/admin">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="wrapper flex-grow-1"> 
        <div class="container">
          {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
        {% endfor %}
          {% block content %}{% endblock %} 
        </div>
      </div>
      
      <footer style="height: 55px;background-color: black;">
        <h2 style="text-align: right;color: blanchedalmond;">© 2020 Sample Restarurant Inc</h2>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sort_filter_search.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</body>
</html>