{% extends "admin/adminlayout.html" %}
{% block content %}
    <h1>All Order</h1>
    {% for i in orderinfo %}
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="heading{{ i[0] }}">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ i[0] }}" aria-expanded="false" aria-controls="collapse{{ i[0] }}">
                    Order # {{ i[0] }}
                    </button>
                </h2>
                </div>
                <div id="collapse{{ i[0] }}" class="collapse" aria-labelledby="heading{{ i[0] }}" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <form action="" method="POST">
                                <input type="hidden" name="orderid" value="{{ i[0] }}">
                                <table >
                                    <tr>
                                        <td style="text-align: left;">Order ID</td>
                                        <td>:</td>
                                        <td><a>{{ i[0] }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>User ID</td>
                                        <td>:</td>
                                        <td><a>{{ i[1] }}</a></td>
                                    </tr>
                                    <tr>
                                        <td >Order Date</td>
                                        <td>:</td>
                                        <td><input type="date" value='{{ i[2] }}' name="date"></td>
                                    </tr>
                                    <tr>
                                        <td >Total Price</td>
                                        <td>:</td>
                                        <td><a>{{ i[3] }}</a></td>
                                    </tr>
                                    <tr>
                                        <td >Address Line 1</td>
                                        <td>:</td>
                                        <td><input type="text" value='{{ i[4] }}' name="addressline1" size="40"></td>
                                    </tr>
                                    <tr>
                                        <td >Address Line 2</td>
                                        <td>:</td>
                                        <td><input type="text" value='{{ i[5] }}' name="addressline2" size="40"></td>
                                    </tr>
                                    <tr >
                                        <td >Payment Method</td>
                                        <td>:</td>
                                        {% if i[6] == 'cash_on_delivery' %}
                                        <td>
                                            <select name="paymentmethod">
                                                <option selected="selected" value="cash_on_delivery">Cash on Delivery</option>
                                                <option value="credit_card">Credit Card</option>
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            <select name="paymentmethod">
                                                <option value="cash_on_delivery">Cash on Delivery</option>
                                                <option selected="selected" value="credit_card">Credit Card</option>
                                            </select>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td >Delivery Time Slot</td>
                                        <td>:</td>
                                        {% if i[7] == '10:00-13:00' %}
                                        <td> 
                                            <select name="timeslot">
                                                <option selected="selected" value="10:00-13:00">10:00-13:00</option>
                                                <option value="15:00-18:00">15:00-18:00</option>
                                                <option value="20:00-23:00">20:00-23:00</option>
                                            </select>
                                        </td>
                                        {% elif i[7] == '15:00-18:00' %}
                                        <td>
                                            <select name="timeslot">
                                                <option value="10:00-13:00">10:00-13:00</option>
                                                <option selected="selected" value="15:00-18:00">15:00-18:00</option>
                                                <option value="20:00-23:00">20:00-23:00</option>
                                            </select>
                                        </td>
                                        {% else %}
                                        <td>
                                            <select name="timeslot">
                                                <option value="10:00-13:00">10:00-13:00</option>
                                                <option value="15:00-18:00">15:00-18:00</option>
                                                <option selected="selected" value="20:00-23:00">20:00-23:00</option>
                                            </select>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Other Requirement</td>
                                        <td>:</td>
                                        <td><textarea rows="4" col="50" style="width: 300px;" name="otherrequirement">{{ i[8] }}</textarea></td>
                                    </tr>
                                    <tr>
                                        <td>Contact</td>
                                        <td>:</td>
                                        <td><input value="{{ i[9] }}" type="number" name="contact" required></td>
                                    </tr>
                                    {% if i[10]|length > 1 %}
                                    <tr>
                                        <td>Coupon Used</td>
                                        <td>:</td>
                                        <td><a>{{ i[10] }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Coupon description</td>
                                        <td>:</td>
                                        <td><a>{{ i[11] }}</a></td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td><input type="submit" value="Update" class="btn btn-success"></td>
                                    </tr>
                                </table>
                            </form>
                            <form action="admindeleteorder" method="POST">
                                <input type="hidden" value="{{ i[0] }}" name="orderid">
                                <input type="submit" value="Delete Order" class="btn btn-danger">
                            </form>
                        </div>
                        <div class="col-md-5">
                            Product List:
                            {% for a in actuallist %}
                                {% if a[0] == i[0] %}
                                 <table>
                                    <tr >
                                        <form action="/adminupdateorderitem" method="POST">
                                            <td style="padding: 15px;"><img src='/static/{{ a[7] }}' style="height: 120px; width: 120px;" alt="{{ a[7] }}"></td>
                                            <td style="padding: 15px;">{{ a[6] }}</td>
                                            <td style="padding: 15px;">X</td>
                                            <input type="hidden" value="{{ a[0] }}" name="orderid">
                                            <input type="hidden" value="{{ a[1] }}" name="productid">
                                            <td><input type="number" value="{{ a[2] }}" name="quantity"style="width: 3em;" min="1"></td>
                                            <td style="padding: 15px;">${{ a[5] }}</td>
                                            <td><input class="btn btn-success" type="submit" value="Update"></td>
                                        </form>
                                        <form action="admindeleteorderitem" method="POST">
                                            <input type="hidden" value="{{ a[0] }}" name="orderid">
                                            <input type="hidden" value="{{ a[1] }}" name="productid">
                                            <td><input class="btn btn-danger" type="submit" value="Delete"></td>
                                        </form>
                                    </tr>
                                 </table>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
            </div>
    {% endfor %}
{% endblock content %}